streamlit==1.35.0
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
nltk==3.8.1
spacy==3.7.4
joblib==1.4.0
matplotlib==3.8.4
seaborn==0.13.2
datasets==2.18.0
opencv-python==4.9.0.80
pytesseract==0.3.10
Pillow==10.3.0
beautifulsoup4==4.12.3
tqdm==4.66.2
pytest==8.2.0
